<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ASP.Net_Core_Project</title>
        <link href="font-awesome/css/all.css" rel="stylesheet" />
        <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-dark bg-dark navHeader" style="white-space:nowrap;">
                        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                            <span class="badge badge-info">WebProject</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <div class="navbar-nav">
                                @await Component.InvokeAsync("Menu");
                            </div>

                            <partial name="_UserPartial" />

                        </div>

                    </nav>
                </div>
            </header>

            <div class="content">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
            
            <footer class="footer">
                <div class="container">
                    <div class="navbar navbar-expand-md navbar-dark bg-dark">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link" href="http://www.facebook.com">
                                <i class="fab fa-facebook-f fa-2x"></i>
                            </a>
                            <a class="nav-item nav-link" href="http://www.vk.com">
                                <i class="fab fa-vk fa-2x"></i>
                            </a>
                            <a class="nav-item nav-link" href="http://www.twitter.com">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
        </div>
    </body>
</html>
